
body
  background-color: color-light;
  color: color-text;
  font-size: em;
  line-height: leading;
  font-family: "Panic Sans", "inconsolata",Monaco,'Courier New',monospace;

.cwrapper
  margin: 0 auto;
  width: widthMain;

#page-content
  .hello
    margin-top: 1em;
    font-size: 3em;
    line-height: 1.2em;
    color: color-main;
    letter-spacing: -1px;

#main-footer
  padding: 4em 0 1em;
  p
    color: color-main;
    font-size: (12em/16);