// make sure import var first
@import 'var'

// third-party
@import 'vendor/font-awesome'
@import 'vendor/prism-theme'

// basement need a base stylus
@import 'base'

// default blog post module
@import 'modules/post'
