/*************************************************
 * COLORS
 *************************************************/
color_main        = #f4524e
color_main_cool   = #4ebae2
color_light       = #fff
color_text        = #404041
color_dark        = #2a2a2a
color_bgr         = #f9f9f9
color_meta        = #ccd1d1
color_border      = #e7e9e9

/*************************************************
 * TYPOGRAPHY
 *************************************************/
baseFontSizePx  = 16
baseFontSize    = (baseFontSizePx/16*100)%
baseLeading     = 1.5

tkText           = "skolar"
tkHeading        = "faricy-new-web"

fontSerif        = tkText, Georgia, serif
fontSans         = tkHeading, Helvetica, Arial, sans-serif

fontText         = fontSerif
fontHeading      = fontSans

/*************************************************
 * GRID SETTING
 *************************************************/

numColMax      = 12
numCol         = 1..numColMax
colGutter      = 1.5%
widthContainer = (1366/baseFontSizePx)em
