
/* line 1 : /Users/ConstantX/Dropbox/projects/basement/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/flex.styl */

/* line 154 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/gradients.styl */

/* line 154 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/image.styl */

/* line 15 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 557 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/vendor.styl */

/* line 557 : /Users/ConstantX/Dropbox/projects/basement/node_modules/nib/lib/nib/config.styl */

/* line 3 : /Users/ConstantX/Dropbox/projects/basement/stylus/_base.styl */
body {
  background-color: color-light;
  color: color-main;
  font-size: em;
  line-height: leading;
  font-family: "Panic Sans", "inconsolata", Monaco, 'Courier New', monospace;
}

/* line 10 : /Users/ConstantX/Dropbox/projects/basement/stylus/_base.styl */
.cwrapper {
  margin: 0 auto;
  width: width-main;
}

/* line 14 : /Users/ConstantX/Dropbox/projects/basement/stylus/_base.styl */
#hello {
  padding: 3em 0 0;
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -1px;
}
