/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.container:before,
.row:before,
.clearfix:after,
.container:after,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 62.09090909090909em;
  width: 90%;
}
.is-a-col,
.col,
.col-m-1,
.col-m-2,
.col-m-3,
.col-m-4,
.col-m-5,
.col-m-6,
.col-m-7,
.col-m-8,
.col-m-9,
.col-m-10,
.col-m-11,
.col-m-12 {
  float: left;
  box-sizing: border-box;
  position: relative;
  padding-left: 1.5%;
  padding-right: 1.5%;
  min-height: 1px;
}
.col.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.col-1 {
  width: 8.3333%;
}
.offset-1 {
  margin-left: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.offset-2 {
  margin-left: 16.6666%;
}
.col-3 {
  width: 24.999899999999997%;
}
.offset-3 {
  margin-left: 24.999899999999997%;
}
.col-4 {
  width: 33.3332%;
}
.offset-4 {
  margin-left: 33.3332%;
}
.col-5 {
  width: 41.6665%;
}
.offset-5 {
  margin-left: 41.6665%;
}
.col-6 {
  width: 49.99979999999999%;
}
.offset-6 {
  margin-left: 49.99979999999999%;
}
.col-7 {
  width: 58.333099999999995%;
}
.offset-7 {
  margin-left: 58.333099999999995%;
}
.col-8 {
  width: 66.6664%;
}
.offset-8 {
  margin-left: 66.6664%;
}
.col-9 {
  width: 74.99969999999999%;
}
.offset-9 {
  margin-left: 74.99969999999999%;
}
.col-10 {
  width: 83.333%;
}
.offset-10 {
  margin-left: 83.333%;
}
.col-11 {
  width: 91.66629999999999%;
}
.offset-11 {
  margin-left: 91.66629999999999%;
}
.col-12 {
  width: 99.99959999999999%;
}
.offset-12 {
  margin-left: 99.99959999999999%;
}
@media only screen and (max-width: 769px) {
  .col {
    float: none;
    width: 100% !important;
  }
  .col-m-1 {
    width: 8.3333% !important;
  }
  .offset-1 {
    margin-left: 0;
  }
  .col-m-2 {
    width: 16.6666% !important;
  }
  .offset-2 {
    margin-left: 0;
  }
  .col-m-3 {
    width: 24.999899999999997% !important;
  }
  .offset-3 {
    margin-left: 0;
  }
  .col-m-4 {
    width: 33.3332% !important;
  }
  .offset-4 {
    margin-left: 0;
  }
  .col-m-5 {
    width: 41.6665% !important;
  }
  .offset-5 {
    margin-left: 0;
  }
  .col-m-6 {
    width: 49.99979999999999% !important;
  }
  .offset-6 {
    margin-left: 0;
  }
  .col-m-7 {
    width: 58.333099999999995% !important;
  }
  .offset-7 {
    margin-left: 0;
  }
  .col-m-8 {
    width: 66.6664% !important;
  }
  .offset-8 {
    margin-left: 0;
  }
  .col-m-9 {
    width: 74.99969999999999% !important;
  }
  .offset-9 {
    margin-left: 0;
  }
  .col-m-10 {
    width: 83.333% !important;
  }
  .offset-10 {
    margin-left: 0;
  }
  .col-m-11 {
    width: 91.66629999999999% !important;
  }
  .offset-11 {
    margin-left: 0;
  }
  .col-m-12 {
    width: 99.99959999999999% !important;
  }
  .offset-12 {
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Panic Sans", inconsolata, Monaco, 'Courier New', monospace;
  font-size: 100%;
  line-height: 1.5;
  color: #404041;
  background-color: #f9f9f9;
}
@media only screen and (min-width: 769px) {
  body {
    font-size: 112.5%;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 125%;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    font-size: 137.5%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Panic Sans", inconsolata, Monaco, 'Courier New', monospace;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 3.375em;
  line-height: 1.1111111111111112;
}
h2 {
  font-size: 2.081em;
  line-height: 1.0812109562710235;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
}
h4 {
  font-size: 1.387em;
  line-height: 1.0814708002883922;
}
h5 {
  font-size: 1em;
  line-height: 1.5;
}
h6 {
  font-size: 0.925em;
  line-height: 1.6216216216216215;
}
a {
  color: #404041;
  text-decoration: none;
}
p a,
ul a,
ol a {
  border-bottom: solid 2px #f4524e;
  transition: border-color 0.2s ease-in;
}
p a:hover,
ul a:hover,
ol a:hover {
  border-bottom-color: #4ebae2;
}
strong {
  font-weight: bold;
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.cover {
  width: 100%;
  height: auto;
}
.circular {
  border-radius: 50%;
}
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading a {
  visibility: hidden;
}
.wf-inactive h1,
.wf-active h1,
.wf-inactive h2,
.wf-active h2,
.wf-inactive h3,
.wf-active h3,
.wf-inactive h5,
.wf-active h5,
.wf-inactive h6,
.wf-active h6,
.wf-inactive p,
.wf-active p,
.wf-inactive a,
.wf-active a {
  visibility: visible;
}
.logo {
  display: block;
  padding: 1em 0;
  font-family: "Panic Sans", inconsolata, Monaco, 'Courier New', monospace;
  text-align: center;
  font-weight: normal;
  color: #404041;
  font-size: 2.25em;
  line-height: 1;
}
@media only screen and (max-width: 769px) {
  .logo {
    font-size: 1.5em;
    line-height: 1;
  }
}
.main-footer {
  font-size: 0.625em;
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
}
