
/* line 1 : /Users/constantx/Dropbox/projects/basement/node_modules/stylus/lib/functions/index.styl */

/* line 228 : /Users/constantx/Dropbox/projects/basement/stylus/main.styl */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* line 1 : /Users/constantx/Dropbox/projects/basement/stylus/_var.styl */

/* line 2 : /Users/constantx/Dropbox/projects/basement/stylus/_base.styl */

/* line 2 : /Users/constantx/Dropbox/projects/basement/stylus/_base.styl */
body {
  background-color: #fffff2;
  color: #f4524e;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Panic Sans", "inconsolata", Monaco, 'Courier New', monospace;
}

/* line 9 : /Users/constantx/Dropbox/projects/basement/stylus/_base.styl */
.cwrapper {
  margin: 0 auto;
  width: 31.25em;
}

/* line 13 : /Users/constantx/Dropbox/projects/basement/stylus/_base.styl */
#hello {
  padding: 3em 0 0;
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -1px;
}
