body{background-color:#fffff2;color:#333;font-size:16px;line-height:1.5em;font-family:"Panic Sans","inconsolata",Monaco,'Courier New',monospace}
.cwrapper{margin:0 auto;width:31.25em}
#page-content .hello{margin-top:1em;font-size:3em;line-height:1.2em;color:#f4524e;letter-spacing:-1px}
#main-footer{padding:4em 0 1em;}
#main-footer p{color:#f4524e;font-size:.75em}
body{color:#f00}
