/*======================================*\
  GRID SETTING
\*======================================*/

baseFontSizePx = 16
baseLeading    = 1.5
baseFontSize   = (baseFontSizePx/16*100)%
numColMax      = 12
numCol         = 1..numColMax
colGutter      = 1.5%
widthContainer = (1366/baseFontSizePx)em


/*======================================*\
  HELPER FUNCTION
\*======================================*/
getColWidth(n)
  n * (100% / numColMax)


/*======================================*\
  HELPER
\*======================================*/
.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both


/*======================================*\
  MAIN GRID LAYOUT
\*======================================*/
.container
  @extend .clearfix
  position: relative
  margin: 0 auto
  max-width: widthContainer
  width: 90%


.row
  @extend .clearfix


.is-a-col
  float: left
  box-sizing: border-box
  position: relative
  padding-left: colGutter
  padding-right: colGutter
  min-height: 1px


.col
  @extend .is-a-col
  &.centered
    float: none
    margin-left: auto
    margin-right: auto


/*======================================*\
  DESKTOP GRID
\*======================================*/
for num in numCol
  // make col
  .col-{num}
    width: getColWidth(num)

  // make col offset
  .offset-{num}
    margin-left: getColWidth(num)

  // make col pulled back to the left
  .pull-{num}
    margin-left: -(getColWidth(num))

/*======================================*\
  MOBILE GRID
\*======================================*/
@media only screen and (max-width: 767px)
  // make normal column become full width
  .col
    float: none
    width: 100% !important

  // make mobile grid
  for num in numCol
    .col-m-{num}
      @extend .is-a-col
      width: getColWidth(num) !important

    // make all offset column full column on mobile
    .offset-{num}
    .pull-{num}
      margin-left: 0

