/////////////////////////////////////////////////////// HELPERS FUNCTION

// this is a recursive function
// it calculates the leading for a targeted line-height
// if target_leading is less then one normal line for that fontSize
// it'll try to add an extra half line via base_leading
_calcLeading(target_leading, fontSize)
  result = target_leading/fontSize
  if result < 1
    result = _calcLeading(target_leading + (base_leading/2), fontSize)
  else
    return result

setHeading(fontSize)
  font-size: (fontSize)em
  line-height: _calcLeading(base_leading, fontSize)

calWidth(n)
  n * 8.3333%

/////////////////////////////////////////////////////// GRID


.clearfix
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

.container
  position: relative
  margin: 0 auto
  max-width: width_main
  width: 90%
  @extend .clearfix

.row
  @extend .clearfix

.is-a-col
  float: left
  box-sizing: border-box
  position: relative
  padding-left: colGutter
  padding-right: colGutter
  min-height: 1px

.col
  @extend .is-a-col
  &.centered
    float: none
    margin-left: auto
    margin-right: auto


for num in numCol
  // make col
  .col-{num}
    width: calWidth(num)

  // make col offset
  .offset-{num}
    margin-left: calWidth(num)

/////////////////////////////////////////////////////// Responsive Grid
@media only screen and (max-width: 769px)
  // make normal column become full width
  .col
    float: none
    width: 100% !important

  // make mobile grid
  for num in numCol
    .col-m-{num}
      @extend .is-a-col
      width: calWidth(num) !important

    // make all offset column full column on mobile
    .offset-{num}
      margin-left: 0
