!!!
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="Content-Language", content="en-us")
        
        meta(name="keywords", content="")
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="copyright", content="")
        
        //- facebook open graph protocol        
        meta(property="og:title", content="")
        meta(property="og:type", content="")
        meta(property="og:url", content="")
        meta(property="og:image", content="")
        meta(property="og:site_name", content="")
        meta(property="fb:page_id", content="")
        meta(property="og:description", content="")
        
        //- CSS
        link(rel='stylesheet', href='/css/main.css')

        //- libs
        script(src="/js/libs/mootools-core-1.4.2.js")
        script(src="/js/libs/mootools-more-1.4.0.1.js")
        script(src="/js/libs/composer.js")
        script(src="/socket.io/socket.io.js")

        //- main
        script(src="/js/main.js")

        title
        
    body
        #mainContainer
            #mainHeader
            .cwrapper
                block mainHeader
                        

            #mainContent
                .cwrapper
                    block mainContent
                        #pageContent
                            block pageContent
                        #sidebar
                            block sidebar
            #mainFooter
                .cwrapper
                    block mainFooter
                        p 
                            | &copy; design, slice, and hack!