color-text   = #333
color-main   = #f4524e
color-light  = #fffff2
em           = 16px
leading      = 1.5em
width-main   = 500em/16

font_text    = "proxima-nova", "Helvetica Neue", Arial, sans-serif
font_heading = "proxima-nova", "Helvetica", Arial, sans-serif
font_meta    = "proxima-nova", "Helvetica Neue", Arial, sans-serif