@import 'var'
@import 'reset'
@import 'grid'
@import 'typography'
@import 'animate'

/////////////////////////////////////////////////////// Common Layout Helpers
body
  margin: 0
  padding: 0
  background-color: color_bgr
  color: color_text

a
  color: color_text
  text-decoration: none

p, ul, ol
  a
    border-bottom: solid 2px color_main
    transition: border-color 0.2s ease-in
    &:hover
      border-bottom-color: color_main_cool


.cover
  width: 100%
  height: auto


.circular
  border-radius: 50%


// prevent FOUT
.wf-loading
  h1,h2,h3,h5,h6,p,a
    visibility: hidden


.wf-inactive
.wf-active
  h1,h2,h3,h5,h6,p,a
    visibility: visible


.logo
  display: block
  padding: 1em 0
  font-family: fontSerif
  text-align: center
  font-weight: normal
  color: color_text
  setHeading(2.25)
  @media only screen and (max-width: 769px)
    setHeading(1.5)


.main-header
  position: relative
  z-index: 1000
  background-color: color_light
  padding: 1em 0
  border-bottom: solid 1px color_border


.main-nav
  padding: 1em 0
  .main-nav-items
    list-style: none
    text-align: center
  .main-nav-item
    font-size: 1em
    margin: 0 1em
    display: inline-block
    text-transform: uppercase
    letter-spacing: 0.1em


.main-footer
  text-align: center
  margin-top: 2em
  padding: 1em 0
  border-top: solid 1px color_border
  background-color: color_light
