// this is a recursive function
// it calculates the leading for a targeted line-height
// if target_leading is less then one normal line for that fontSize
// it'll try to add an extra half line via baseLeading
_calcLeading(target_leading, fontSize)
  result = target_leading/fontSize
  if result < 1
    result = _calcLeading(target_leading + (baseLeading/2), fontSize)
  else
    return result

setHeading(fontSize)
  font-size: (fontSize)em
  line-height: _calcLeading(baseLeading, fontSize)

/*======================================*\
  BASE TYPOGRAPHY
\*======================================*/

body
  font-family: fontText
  font-size: baseFontSize
  line-height: baseLeading
  @media only screen and (min-width: 769px)
    font-size: 112.5% // 18px
  @media only screen and (min-width: 1024px)
    font-size: 125% // 20px
  @media only screen and (min-width: 1366px)
    font-size: 137.5% // 22px

h1,h2,h3,h4,h5,h6
  font-family: fontHeading
  font-weight: bold
  margin: 0

h1
  setHeading(3.375)
h2
  setHeading(2.081)
h3
  setHeading(1.5)
h4
  setHeading(1.387)
h5
  setHeading(1)
h6
  setHeading(0.925)


strong
  font-weight: bold

blockquote
  margin-left: 0
  margin-right: 0
  position: relative
